html {
    font-size: 14px;
}
div.news, div.user, form {
    border: 1px solid gray;
    margin: 10px;
    padding :10px;
    overflow: hidden;
}
div.news div.photo, div.user div.photo {
    float: left;
    width: 150px;
    height: 150px;
    background-color: aqua;
    overflow: hidden;
}
div.user div.photo {
    background-color: cornsilk;
}
div.news div.content, div.user div.content {
    margin-left: 150px;
    padding-left: 10px;
}
div.news div.content div.title, div.user div.content div.title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom:10px;
}
div.news div.photo img {
    width: 100%;
}
footer.footer1{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}
header.header1{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
#time{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
